html {
 box-sizing: border-box;
 font-size:1.1rem;
 font-weight:600;
 color: #ffffff;
}

*, *:before, *:after {
 box-sizing: inherit;
}

body{
 background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100%25 100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='100%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23d3c3be'/%3E%3Cstop offset='0.02' stop-color='%23fb4f14'/%3E%3Cstop offset='0.02' stop-color='%23eee5e2'/%3E%3Cstop offset='0.032' stop-color='%23fb4f14'/%3E%3Cstop offset='0.032' stop-color='%23f86d3d'/%3E%3Cstop offset='0.056' stop-color='%23fb4f14'/%3E%3Cstop offset='0.056' stop-color='%23cc5932'/%3E%3Cstop offset='0.07' stop-color='%23fb4f14'/%3E%3Cstop offset='0.07' stop-color='%23c1b6b3'/%3E%3Cstop offset='0.1' stop-color='%23fb4f14'/%3E%3Cstop offset='0.1' stop-color='%23796862'/%3E%3Cstop offset='0.126' stop-color='%23fb4f14'/%3E%3Cstop offset='0.126' stop-color='%23bb4f2a'/%3E%3Cstop offset='0.142' stop-color='%23fb4f14'/%3E%3Cstop offset='0.142' stop-color='%23887067'/%3E%3Cstop offset='0.159' stop-color='%23fb4f14'/%3E%3Cstop offset='0.159' stop-color='%23b28d81'/%3E%3Cstop offset='0.17' stop-color='%23fb4f14'/%3E%3Cstop offset='0.17' stop-color='%23fa6b3a'/%3E%3Cstop offset='0.197' stop-color='%23fb4f14'/%3E%3Cstop offset='0.197' stop-color='%23ba7a65'/%3E%3Cstop offset='0.218' stop-color='%23fb4f14'/%3E%3Cstop offset='0.218' stop-color='%23f29170'/%3E%3Cstop offset='0.239' stop-color='%23fb4f14'/%3E%3Cstop offset='0.239' stop-color='%23ea774f'/%3E%3Cstop offset='0.254' stop-color='%23fb4f14'/%3E%3Cstop offset='0.254' stop-color='%23f1531d'/%3E%3Cstop offset='0.283' stop-color='%23fb4f14'/%3E%3Cstop offset='0.283' stop-color='%23cab2aa'/%3E%3Cstop offset='0.294' stop-color='%23fb4f14'/%3E%3Cstop offset='0.294' stop-color='%23ef9879'/%3E%3Cstop offset='0.305' stop-color='%23fb4f14'/%3E%3Cstop offset='0.305' stop-color='%23c64012'/%3E%3Cstop offset='0.332' stop-color='%23fb4f14'/%3E%3Cstop offset='0.332' stop-color='%23e54913'/%3E%3Cstop offset='0.346' stop-color='%23fb4f14'/%3E%3Cstop offset='0.346' stop-color='%23f45119'/%3E%3Cstop offset='0.362' stop-color='%23fb4f14'/%3E%3Cstop offset='0.362' stop-color='%23f75e2a'/%3E%3Cstop offset='0.381' stop-color='%23fb4f14'/%3E%3Cstop offset='0.381' stop-color='%235c2614'/%3E%3Cstop offset='0.415' stop-color='%23fb4f14'/%3E%3Cstop offset='0.415' stop-color='%23f38f6d'/%3E%3Cstop offset='0.428' stop-color='%23fb4f14'/%3E%3Cstop offset='0.428' stop-color='%23855646'/%3E%3Cstop offset='0.442' stop-color='%23fb4f14'/%3E%3Cstop offset='0.442' stop-color='%23604f49'/%3E%3Cstop offset='0.456' stop-color='%23fb4f14'/%3E%3Cstop offset='0.456' stop-color='%238c8988'/%3E%3Cstop offset='0.498' stop-color='%23fb4f14'/%3E%3Cstop offset='0.498' stop-color='%235c5755'/%3E%3Cstop offset='0.511' stop-color='%23fb4f14'/%3E%3Cstop offset='0.511' stop-color='%23a74f31'/%3E%3Cstop offset='0.532' stop-color='%23fb4f14'/%3E%3Cstop offset='0.532' stop-color='%23da6841'/%3E%3Cstop offset='0.541' stop-color='%23fb4f14'/%3E%3Cstop offset='0.541' stop-color='%2387442d'/%3E%3Cstop offset='0.56' stop-color='%23fb4f14'/%3E%3Cstop offset='0.56' stop-color='%235a5756'/%3E%3Cstop offset='0.581' stop-color='%23fb4f14'/%3E%3Cstop offset='0.581' stop-color='%23f3541e'/%3E%3Cstop offset='0.6' stop-color='%23fb4f14'/%3E%3Cstop offset='0.6' stop-color='%23f85a23'/%3E%3Cstop offset='0.618' stop-color='%23fb4f14'/%3E%3Cstop offset='0.618' stop-color='%23f78259'/%3E%3Cstop offset='0.656' stop-color='%23fb4f14'/%3E%3Cstop offset='0.656' stop-color='%23ca4314'/%3E%3Cstop offset='0.679' stop-color='%23fb4f14'/%3E%3Cstop offset='0.679' stop-color='%23825b4d'/%3E%3Cstop offset='0.689' stop-color='%23fb4f14'/%3E%3Cstop offset='0.689' stop-color='%23e96639'/%3E%3Cstop offset='0.720' stop-color='%23fb4f14'/%3E%3Cstop offset='0.720' stop-color='%23f38c69'/%3E%3Cstop offset='0.734' stop-color='%23fb4f14'/%3E%3Cstop offset='0.734' stop-color='%23a65a40'/%3E%3Cstop offset='0.748' stop-color='%23fb4f14'/%3E%3Cstop offset='0.748' stop-color='%23895e4f'/%3E%3Cstop offset='0.764' stop-color='%23fb4f14'/%3E%3Cstop offset='0.764' stop-color='%23ffede8'/%3E%3Cstop offset='0.788' stop-color='%23fb4f14'/%3E%3Cstop offset='0.788' stop-color='%23dfaf9e'/%3E%3Cstop offset='0.808' stop-color='%23fb4f14'/%3E%3Cstop offset='0.808' stop-color='%23bb4d27'/%3E%3Cstop offset='0.831' stop-color='%23fb4f14'/%3E%3Cstop offset='0.831' stop-color='%23d24312'/%3E%3Cstop offset='0.856' stop-color='%23fb4f14'/%3E%3Cstop offset='0.856' stop-color='%23d76943'/%3E%3Cstop offset='0.872' stop-color='%23fb4f14'/%3E%3Cstop offset='0.872' stop-color='%238c675b'/%3E%3Cstop offset='0.894' stop-color='%23fb4f14'/%3E%3Cstop offset='0.894' stop-color='%23f38f6d'/%3E%3Cstop offset='0.914' stop-color='%23fb4f14'/%3E%3Cstop offset='0.914' stop-color='%23f7531b'/%3E%3Cstop offset='0.942' stop-color='%23fb4f14'/%3E%3Cstop offset='0.942' stop-color='%23ec764d'/%3E%3Cstop offset='0.957' stop-color='%23fb4f14'/%3E%3Cstop offset='0.957' stop-color='%23805546'/%3E%3Cstop offset='0.973' stop-color='%23fb4f14'/%3E%3Cstop offset='0.973' stop-color='%23f8521a'/%3E%3Cstop offset='1' stop-color='%23fb4f14'/%3E%3Cstop offset='1' stop-color='%23f48660'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' x='0' y='0' width='100%25' height='100%25'/%3E%3C/svg%3E");
 background-color: #fb4f14;
 height: 600px;
 background-position: center;
 background-repeat: repeat;
 background-size: cover;
 text-align: center;
 font-family: 'Source Serif Pro', serif;
}

.logo{
 padding: 14px 20px;
 width: 250px;
}

audio {
 max-width: 260px;
 border-radius: 6px;
 transform: scale(1.05);
 box-shadow: 5px 5px 20px rgba(0,0, 0, 0.1);
 background-color: #333333;
 border: 2px solid #FFFF00;
}

a{
 color: #ffffff;
 max-width:400px;
 height: 50px;
 margin:0 auto 15px auto;
 border: 2px solid #FFFF00;
 display:block;
 background-color: #008000;
 text-decoration:none;
 padding: 14px 20px;
 font-size:1.0rem;
 border-radius: 6px;
 box-shadow: 5px 5px 20px rgba(0,0, 0, 0.1);
}


a:link {
 color: #ffffff;
}


a:visited {
 color: #ffffff;
}


a:hover {
 color: #fb4f14;
}


a:active {
 color: #FFFF00;
}

h2{
 font-size:1.0rem;
 text-transform: uppercase;
 font-weight: normal;
 letter-spacing: 3px;
}
